body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4; /* Cor de fundo suave */
}

h2 {
    color: #343a40; /* Cor do título */
}

.nav-link {
    color: #ffffff; /* Cor dos links */
}

.nav-link:hover {
    text-decoration: underline; /* Sublinhar ao passar o mouse */
}

.logo {
    width: 150px; /* Ajuste a largura conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    float: left; /* Faz a logo flutuar à direita */
    margin-right: 20px; /* Espaço à esquerda da logo */
    margin-bottom: 10px; /* Espaço abaixo da logo, se necessário */
    margin-top: 10px; /* Espaço acima da logo, se necessário */
}

section::after {
    content: ""; /* Clearfix para limpar o float */
    display: table;
    clear: both;
}


.list-group-item {
    border-radius: 0.5rem; /* Bordas arredondadas */
    border: 1px solid #ced4da; /* Borda suave */
    transition: border-color 0.3s; /* Transição suave para hover */
}

.list-group-item:hover {
    border-color: #007bff; /* Cor da borda ao passar o mouse */
}

footer {
    margin-top: 30px;
}
